<!DOCTYPE html>
<html>
  <head>
    <title>FirstTry</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    <!-- menu bar [add css to format it better, make it interactive] -->
    <div class="sidebar">
    	<ul class="nav-sidebar">
          <li class="sidebar_profile"><%= link_to "Profile", "#" %></li>
          <li class="sidebar_map"><%= link_to "Map", "#" %></li>
          <li class="sidebar_contact"><%= link_to "Homepage", "/user/add" %></li>
          <li class="sidebar_about"><%= link_to "aboutUs", "/about/aboutUs" %></li>
    	    <!-- <li class="sidebar_contact"><%= link_to "contact(sidebar2)", "/about/contact" %></li> -->
          <li class="sidebar_contact"><%= link_to "Settings", "#" %></li>
      	</ul>

    </div>
  </body>
</html>
